@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


::selection {
    background: rgba(0, 182, 20,0.99);
}

h1,h2{
	font-family: 'NotoSerifKR';
}
h2{
	font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p{
	font-family: 'NotoSerifKR';
}
.normal-p{
	font-size: 1rem;
    line-height: 1.6;
}
html,body{
	width: 100%;
	height: 100%;
}
strong{
	font-weight: bold;
	font-size: 150%;
}

button{
	border-style: none;
	background: inherit;
}

a{
	text-decoration: none;
	border-style: none;
}
@media (min-width:836px){
	.sec01-icon{
		display: none;
	}
}

@media(max-width: 835px){
	.menu_box ul{
		display: none;
	}
	.sec01-icon{
		width: 80%;
		height: auto;
	}
	.xi-bars{
		position: absolute;
		top: 10%;
		right: 10%;
		font-size: 35px;
	}

}
            

/* section01 start */
.logo-fff{
	height: 50px;
	margin-top: 5%;
}
#section01{
	width:100%;
	background:url(../images/section01-main.jpg);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	background-attachment: fixed;
}

.section01-warp{
	height: 800px;
	background: url(../images/section01-main.jpg);
	background-repeat: no-repeat;
	background-position: center;
	/* 배경 이미지 삽입 */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* 컨텐츠를 가운데로 보내기 위한 설정 */
}

.section01-text{
	/* 컨텐츠 박스 */
	width: 40%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sec01-h1{
	/* 봉은사h1박스 */
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section01-text h1{
	/*sec01 h1 글자 설정 */
	font-weight: 400;
    font-size: 4.5rem;
	line-height: 1.1;
	color: #fff;
}
.sec01-p{
	/* 봉은사 p박스 */
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section01-text p{
	/* sec01 p 글자 설정 */
	font-weight: 400;
    font-size: 1.25rem;
	line-height: 1.2;
	color: #fff;
}

.mouse{
	width: 100px;
	height: 100px;
	position: relative;
	top: 150px;
}

.mouse p{
	position: absolute;
	top: 60px;
	left: 25px;
}

/* 스크롤다운 CSS ↓ */
a {
	padding-top: 60px;
  }
  a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid #fff;
	border-radius: 50px;
	box-sizing: border-box;
  }
  a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sdb 2s infinite;
	animation: sdb 2s infinite;
	box-sizing: border-box;
  }
  @-webkit-keyframes sdb {
	0% {
	  -webkit-transform: translate(0, 0);
	  opacity: 0;
	}
	40% {
	  opacity: 1;
	}
	80% {
	  -webkit-transform: translate(0, 20px);
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }
  @keyframes sdb {
	0% {
	  transform: translate(0, 0);
	  opacity: 0;
	}
	40% {
	  opacity: 1;
	}
	80% {
	  transform: translate(0, 20px);
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }

  /* 스크롤다운 CSS ↑ */

/* section01 end */

@media(max-width: 1200px){


	.section01-warp{
		padding-top: 30%;
		padding-bottom: 30%;
	}
	.sec01-text p{
		margin-bottom: 20px;
	}
	.sec01-text h1{
		font-size: 60px !important;
		margin-bottom: 15%;
	}
}
@media(max-width: 768px){
	#section01{
		background-attachment: scroll;
	}
	.section01-warp{
		padding-top: 45%;
		padding-bottom: 45%;
	}
}

@media(max-width: 480px){
	#section01{
		background-attachment: scroll;
	}
	.section01-warp{
		padding-top: 60%;
		padding-bottom: 75%;
		
	}
}

.sec01-text>h1{
	color: #fff;
	font-size: 80px;

}
.sec01-text>p{
	color: #fff;
	font-size: 30px;
	padding-bottom: 20px;
}


@media(max-width: 480px){
	.section01-warp{
		padding-bottom: 55%;
	}
}

/* section01 end */
/* section02 start */

#section02{
	width: 100%;
}
.section02-warp{
	height: 710px;
	background-color: #141824;
	display: flex;
	
}
	.section02-text{
		width: 100%;
		height: 80%;
		display: flex;
		margin: 5% 0 0 0;
		flex-direction: column;
	}
		.bigbox{
			width: 80%;
			height: 60%;
			margin: 0 auto;
		}
		.line{
			width: 80%;
			height: 3px;
			background: #fff;
			margin: 0 auto;
		}
		.bigbox h1{
			font-weight: 400;
			font-size: 2.25rem;
			line-height: 1.1;
			color: #fff;
			text-align: center;
			padding: 3% 0 2% 0;
		}
		.sec02-p,.sec02-sbox h2{
			text-align: center;
			color: #fff;
		}
		.sec02-p-01{
			margin-bottom: 1%;
		}
		.sec02-p-02{
			margin-bottom: 3%;
		}

		.boxs{
			width: 80%;
			height: 40%;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
		}
			.box01 ,.box02 , .box03{
				width: 33%;
				height: 80%;
				margin: 0 0.5% 0 0.5% ;
			}
			.box02{
				border-left: 1px solid #fff;
				border-right: 1px solid #fff;
			}


/* section02 end */
@media(max-width: 1200px){
	.section02-warp{ 
		width: 100%;
		padding-top: 5%;
		padding-bottom: 5%;
		display: flex;
	}
	.sec02-text{
		width: 50%;
		height: auto;
		margin:0;
	}
	.text-box{
		text-align: center;
		float: none;
		margin-top: 4%;
	}
	.sec02-img{
		width: 50%;
		height: auto;
		margin-left: 0;
		
	}
	.big-text{
		font-size: 1.3em;
	}
	.small-text{
		margin-bottom: 10%;
	}
}



@media(max-width: 768px){

	.section02-warp{
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-top: 0;
	}
	.text-box{
		text-align: center;
		clear: both;
	}

	.sec02-text{
		width: 100%;
		height: 100%;
		background:rgba(238, 238, 238, 0.5);
		position: relative;
		z-index: 2;
	}

	.sec02-img{
		width: 100%;
		height: 60%;
		position: absolute;
		margin-left: 0;
	}
	.big-text{
		font-size: 1em;
	}
	.small-text{
		font-size:1em;
		color: #121212;
	}

}

@media(max-width: 480px){

	.section02-warp{
		margin: 0;
		padding-top: 0s;
		padding-bottom:0;
	}

	.text-box{
		padding-top: 10%;
		padding-bottom: 30%;
	}
	.sec02-img{
		height: 85%;
	}
}

/* 섹션2 미디어 끝 */

/* section02 end */
/* section03 start */
#section03{
	width: 100%;
	position: relative;
}
.section03-warp{
	width: 100%;
	height: 800px;
	background-color: #e8eae3;
	display: flex;
	align-items: center;
}
.sec03-text{
	width: 50%;
	height: 90%;
}

.sec03-text-content h1{
	font-weight: 400;
	font-size: 2.25rem;
	line-height: 1.1;
	color: #181818;
	text-align: center;
	padding: 3% 0 2% 0;
}
.sec03-icon{
	display: flex;
	justify-content: center;
}
.xi-compass-o{
	font-size: 50px;
}
.sec03-img{
	width: 50%;
	height: 80%;
}
.sec03-jogamdo{
	width: 90%;
	height: 90%;
	background: url(../images/section04-jogamdo.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 90%;
}



/* 아코디언 메뉴 시작 */
.subheading{
	font-size:.9em;
	margin-top:0;
	text-transform:uppercase;
  }
  
  dl{
	margin:30px auto 60px;
	max-width: 60%;

  }
  
  dt{
	background:#505662;
	border-left:8px solid #141824;
	color:#B6BCCC;
	font-weight:600;
	padding:15px;
	position:relative;
	text-align:left;
	text-transform:uppercase;
	transition: all .5s;
  }
  
  dt:after,dt:before{
	content:"\f078";
	font-family:fontAwesome;
	position:absolute;
	right:15px;
	height:28px;
	top:0;
	bottom:0;
	margin:auto;
	
	transition:all .7s ease-in-out;
  }
  
  dt:before{
	opacity:0;
	transition:all .4s ease-in-out;
  }
  
  dt:hover{
	cursor:pointer;
  }
  
  dt + dd{
	max-height:0;
  }
  
  dd{
	background:#141824;
	color:#edeff3;
	margin:0;
	overflow:hidden;
	padding:1px 15px;
	
	transition: all .5s;
  }
  
  dt.open{
	background:#141824;
	border-color:#141824;
	color:#edeff3;
	margin:-5px;
  }
  
  dt.open:after{
	transform:rotate(180deg) translateY(-2px);
  }
  dt.open:before{
	opacity:1;
	transform:rotate(-360deg) translateY(-3px);
  }
  
  dt.open + dd{
	padding:15px 15px 30px;
	margin:0 -5px;
	max-height:200px;
  }

  /* 아코디언 메뉴 끝 */
/* section03 end */
/* section04 start */
#section04{
	width:100%; 

	background:#fff;
	position: relative;}

.section04-warp{
	width: auto;
	height: auto;
}

.sec04-text{
	width: 50%;
	margin: 0 auto;
}
.sec04-h1{
	color: #181818;
	font-size: 35px;
	text-align: center;
	padding: 5% 0 4% 0;
}

.text-line{
	width: 80%x;
	height: 2px;
	background: #000;
	margin: 0 auto;
}
.sec04-p{
	color: #7f7f7f;
	font-size: 15px;
	text-align: center;
	padding-top: 3%;
}


.sec04-img1{
	width: 50%;
	height: 600px;
	background: url(../images/sec04-img1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	
}
.sec04-img2{
	width: 50%;
	height: 600px;
	background: url(../images/sec04-img2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	
}
.sec04-img3{
	width: 50%;
	height: 600px;
	background: url(../images/sec04-img3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

.sec04-img4{
	width: 50%;
	height: 600px;
	background: url(../images/sec04-img4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

.sec04-img5{
	width: 50%;
	height: 600px;
	background: url(../images/sec04-img5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

.sec04-img6{
	width: 50%;
	height: 600px;
	background: url(../images/sec04-img6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

.sec04-img7{
	width: 50%;
	height: 600px;
	background: url(../images/sec04-img7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

.sec04-img8{
	width: 50%;
	height: 600px;
	background: url(../images/sec04-img8.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

/* 슬라이더 설정 */
.swiper-container {
	width: 100%;
	height: 100%;
  }
  .swiper-button-next, .swiper-button-prev {
	  top: 720 !important;
	  right: 800px !important;

  }

  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 800px !important;
    right: auto;
}


  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	height: 80% !important;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	  bottom: 25% !important;
  }

@media(max-width: 1200px){
	#section04{
		height: auto;
	}
	.sec04-img{
		flex-direction: column;
		align-items: center;
	}
	.sec04-img div{
		margin: 0;
		width: 80%;
		background-position: center;
	}

}
@media(max-width: 768px){}
@media(max-width: 480px){
	#section04{
		height: auto;
	}

	.swiper-slide>div{
		width: 100%;
	}
}

/* section04 end */

/* section05 start */
	
#section05{
	width:100%; 
	position: relative;
}
.section05-warp{
	width: 100%;
}
.sec05-h1{
	color: #181818;
	font-size: 35px;
	text-align: center;
	padding: 1% 0 1% 0;
}
.text-line1{
	width: 50%;
	height: 2px;
	background: #000;
	margin: 0 auto;
}

.sec05-imgbox
{
	width: 100%;
	height: 100%;
	display: flex;
}

.sec05-p{
	color: #7f7f7f;
	font-size: 15px;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}

/* section05 효과 삽입 start */

.sec05-box{
    position: relative;
    overflow: hidden;
	width: 33.33%;
    height: 80%;
    background: #000000;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    font-size: 16px;
	
}

.sec05-box *{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.sec05-box img{
    max-height: 100%;
    position: relative;
    opacity: 0.9;
}

.sec05-box .library {
    position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    border: 1px solid white;
    border-width: 1px 1px 0;
  }

  .sec05-box .heading {
    overflow: hidden;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .sec05-box h2 {
    display: table;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    text-align: center;
    width: auto;
    text-transform: uppercase;
	font-weight: 400;
	font-size: 2em;
  }

  .sec05-box h2:before,
  .sec05-box h2:after {
    position: absolute;
    display: block;
    width: 1000%;
    height: 1px;
    content: '';
    background: white;
    top: 50%;
  }

  .sec05-box h2:before {
    left: -1000%;
  }
  .sec05-box h2:after {
    right: -1000%;
  }


  .sec05-box p {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    opacity: 0;
    line-height: 1.6em;
    font-size: 1.3em;
  }

  .sec05-box a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  
.sec05-box:hover img,
.sec05-box.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.sec05-box:hover .library,
.sec05-box.hover .library {
  top: 7%;
  bottom: 7%;
}

.sec05-box:hover p,
.sec05-box.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.sec05-box .aquarium {
    position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    border: 1px solid white;
    border-width: 1px 1px 0;
  }


.sec05-box:hover .aquarium,
.sec05-box.hover .aquarium {
  top: 7%;
  bottom: 7%;
}


.sec05-box .cinema {
    position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    border: 1px solid white;
    border-width: 1px 1px 0;
  }


.sec05-box:hover .cinema,
.sec05-box.hover .cinema {
  top: 7%;
  bottom: 7%;
}

/* section05 효과 삽입 end */

@media(max-width: 1200px){
	.sec05-h1{
		padding: 3% 0 3% 0;
	}
	.sec05-p{
		padding-top: 3%;
		padding-bottom: 3%;
	}
}
@media(max-width: 768px){
	#section05{
		height:auto;
	}
	.sec05-imgbox{
		flex-direction: column;
		margin:0;
	}
	.sec05-box{
		width: 100%;
	}
	.sec05-box img{
		width: 100%;
	}
	.sec05-box p{
		font-size: 1em;
	}
}
@media(max-width: 480px){

	.section05-warp{
		height: auto !important;
	}

}

/* section05 end */

/* section06 start */
#section06{
	width:100%;
	height: auto;
	position: relative;
}

.section06-warp{
	width: 80%;
	margin: 0 auto;
}

.sec06-mapbox{
	width: 50%;
	margin: 0 auto;

}
#map{
	overflow: hidden;
	position: relative;
	left: 0;
	top: 0;
	width: 100% !important;
	height: 500px !important;
}


.text-line2{
    width: 50%;
    height: 2px;
    background: #000;
    margin: 0 auto;
}

.sec06-h1 {
    text-align: center;
    padding: 2% 0;
    font-size: 25px;
}

.HowWay{
	width: 100%;
	height: 60%;
	display: flex;
}


.HowWay-content{
	width: 50%;
	height: 400px;
	background: rgba(238, 238, 238, 0.5);
	margin: 5% auto;

}
.Bus-01{
	height: 50%;
}
.Bus-02{
	height: 50%;
}
.Subway-00{
	height: 33.3%;
}


.xi-bus{
	font-size: 100px;
}
.bus-green{
	color: #1bc866;
}
.bus-blue{
	color: #1f85ea;
}
.xi-subway{
	font-size: 100px;
}
.nd2-subway{
	color: #3B9F37;
}
.nd7-subway{
	color: #5B692E;
}
.nd9-subway{
	color: #B39627;
}

@media(max-width: 1200px){}
@media(max-width: 768px){
	.sec06-map{
		width: 100%;
	}
}
@media(max-width: 480px){
	.section06-warp 
	{
		width: 100%;}

	.sec06-mapbox{
		width: 100%;
	}

}


footer{
	background: #181818;
	width: 100%;
	height: 20%;
	position: relative;
}

.footer-h1{
	color: #fff;
	text-align: center;
	padding-top: 1%;
}

.footer-p{
	font-size: 10px;
	color: #fff;
	text-align: center;
	padding-top: 1%;
}

/* section06 end */



.menu_box{
	width:100%; 
	height:90px; 
	color:#FFF; 
	position:fixed; 
	transition:all 0.5s ease-in-out; 
	-webkit-transition:all 0.5s ease-in-out;
	z-index: 3;
}
	

















	.fixed{
		background:rgba(0,0,0,0.5); transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out;}
	
		.logo a{
			font-size:46px; padding:15px 0 0 35px; float:left; color:#FFF; font-family: 'NotoSerifKR'; text-decoration:none;}
			
		.menu_box > ul{
			float:right; padding:0 35px 0 0;}
			
			.menu_box li{
				float:left; text-align:center; width:100px; }
				
				.menu_box li a{
					text-decoration:none; color:#FFF; line-height:100px; font-family: 'NotoSerifKR'; font-size:14px;}
					
					/**메뉴부분 마우스 오버시 색상 **/
					.menu_box li a:hover{
						padding-top:40px; color:#FFF;}
						
					.menu_box li:nth-child(2) a:hover{
						padding-top:40px; color:#9F0;}
						
					.menu_box li:nth-child(3) a:hover{
						padding-top:40px; color:#6FF;}
						
					.menu_box li:nth-child(4) a:hover{
						 padding-top:40px; color:#F33;}
						
					.menu_box li:nth-child(5) a:hover{
						 padding-top:40px; color:#FC0;}

					.menu_box li:nth-child(6) a:hover{
						border-top:2px solid #FC0; padding-top:40px; color:blue;}

/* navi css */