@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


::selection {
    background: rgba(0, 182, 20,0.99);
}

h1,h2{
	font-family: 'NotoSerifKR';
}
h2{
	font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p{
	font-family: 'NotoSerifKR';
}
.normal-p{
	font-size: 1rem;
    line-height: 1.6;
}
.el__heading, .el__text{
	font-family: 'NotoSerifKR';
}
html,body{
	width: 100%;
	height: 100%;
}
strong{
	font-weight: bold;
	font-size: 150%;
}

button{
	border-style: none;
	background: inherit;
}

a{
	text-decoration: none;
	border-style: none;
}

/* navi menu start */
code {
	background: #fff1;
	font-family: 'Inconsolata', monospace;
	padding: .2em .4em;
}

.content {
	background-color: #fff;
	border-radius: 8px;
	box-sizing: border-box;
	color: #666;
	font-size: 1.6em;
	line-height: 1.4em;
	margin: 20px auto;
	margin-top: 80px;
	padding: 20px;
	width: 100%;
	max-width: 800px;
}
.content ul {
	margin: .5em 2em;
	padding: 0;
}

#footer {
	background-color: #246c;
	background-image: linear-gradient(to bottom, transparent, #0009);
	border-top: 1px solid #fff3;
	box-shadow: inset 0 1px 0 #fff3, 0 0 32px #000;
	overflow: hidden;
	padding: 8px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9001;
}
#footer a {
	color: #85c6f6;
	padding: 1em 0;
	text-decoration: none;
}
#footer ul {
	display: flex;
	list-style: none;
	justify-content: center;
	font-size: 2em;
	font-weight: 300;
}
#footer ul li {
	padding: 0 .5em;
}

/* Appearance */
.links {
	background-color: #123;
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 2em;
	font-weight: 300;
}
.links > a {
	color: #9ab;
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}
.links > a:hover {
	background: #ffffff06;
	color: #adf;
}
.links > .line {
	background: #68a;
	height: 1px;
	pointer-events: none;
}

/* The Magic */
#header-navi {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	font-size: 62.5%;
	padding: 0 20px;
	box-sizing: border-box;
}
.links {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}
.links > .line {
	opacity: 0;
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
.links > a:hover ~ .line {
	opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }

/* navi menu end */



/* section01 start */

#section01{
	width:100%;

}

.section01-warp{
	height: 950px;
	background: url(../images/section01-main.jpg);
	background-repeat: no-repeat;
	background-position: center;
	/* 배경 이미지 삽입 */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* 컨텐츠를 가운데로 보내기 위한 설정 */
}

.section01-text{
	/* 컨텐츠 박스 */
	width: 40%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sec01-h1{
	/* 봉은사h1박스 */
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section01-text h1{
	/*sec01 h1 글자 설정 */
	font-weight: 400;
    font-size: 4.5rem;
	line-height: 1.1;
	color: #fff;
}
.sec01-p{
	/* 봉은사 p박스 */
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section01-text p{
	/* sec01 p 글자 설정 */
	font-weight: 400;
    font-size: 1.25rem;
	line-height: 1.2;
	color: #fff;
}

.mouse{
	width: 100px;
	height: 100px;
	position: relative;
	top: 150px;
}

.mouse p{
	position: absolute;
	top: 60px;
	left: 25px;
}

/* 스크롤다운 CSS ↓ */

  a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid #fff;
	border-radius: 50px;
	box-sizing: border-box;
  }
  a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sdb 2s infinite;
	animation: sdb 2s infinite;
	box-sizing: border-box;
  }
  @-webkit-keyframes sdb {
	0% {
	  -webkit-transform: translate(0, 0);
	  opacity: 0;
	}
	40% {
	  opacity: 1;
	}
	80% {
	  -webkit-transform: translate(0, 20px);
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }
  @keyframes sdb {
	0% {
	  transform: translate(0, 0);
	  opacity: 0;
	}
	40% {
	  opacity: 1;
	}
	80% {
	  transform: translate(0, 20px);
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }

  /* 스크롤다운 CSS ↑ */

  /* 메뉴 css */

.navbar__menu_box{
	width:100%; 
	height:auto;
	color:#FFF; 
	position:fixed; 
	transition:all 0.5s ease-in-out; 
	-webkit-transition:all 0.5s ease-in-out;
	z-index: 3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
	padding: 8px 12px;
	font-family: 'NotoSerifKR';
}
.logo-fff{
	height: 40px;
}
.navbar__menuNav{
	display: flex;
	color: #fff;
	padding-left: 0;
}
.navbar__menuNav li{
	padding: 8px 12px;
}
.navbar__toogleBtn{
	display: none;
	position: absolute;
	top: 15px;
	right: 32px;
	font-size: 24px;
	color: #fff;
}

@media (max-width:768px){
	.navbar__menu_box{
		flex-direction: column;
	}
	.navbar__menuNav{
		display: none;
		flex-direction: column;
		padding: 10px;
	}
	.navbar__toogleBtn{
		display: block;
	}

}
/* 메뉴 css 끝 */
/* section01 end */


.sec01-text>h1{
	color: #fff;
	font-size: 80px;

}
.sec01-text>p{
	color: #fff;
	font-size: 30px;
	padding-bottom: 20px;
}


/* section01 end */
/* section02 start */

#section02{
	width: 100%;
}
.section02-warp{
	height: 800px;
	background-color: #141824;
	display: flex;
	
}
	.section02-text{
		width: 100%;
		height: 80%;
		display: flex;
		margin: 6% 0 0 0;
		flex-direction: column;
	}
		.bigbox{
			width: 80%;
			height: 60%;
			margin: 0 auto;
		}
		.line{
			width: 80%;
			height: 3px;
			background: #fff;
			margin: 0 auto;
		}
		.bigbox h1{
			font-weight: 400;
			font-size: 2.25rem;
			line-height: 1.1;
			color: #fff;
			text-align: center;
			padding: 3% 0 2% 0;
		}
		.sec02-p,.sec02-sbox h2{
			text-align: center;
			color: #fff;
		}
		.sec02-p-01{
			margin-bottom: 1%;
		}
		.sec02-p-02{
			margin-bottom: 3%;
		}

		.boxs{
			width: 80%;
			height: 40%;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
		}
			.box01 ,.box02 , .box03{
				width: 33%;
				height: 80%;
				margin: 0 0.5% 0 0.5% ;
			}
			.box02{
				border-left: 1px solid #fff;
				border-right: 1px solid #fff;
			}


/* section02 end */

/* 섹션2 미디어 끝 */

/* section02 end */

/* section03 start */
#section03{
	width: 100%;
	position: relative;
}
.section03-warp{
	width: 100%;
	height: 900px;
	background-color: #e8eae3;
	display: flex;
	align-items: center;
}
.sec03-text{
	width: 50%;
	height: 90%;
}

.sec03-text-content h1, .sec05-text h1{
	font-weight: 400;
	font-size: 2.25rem;
	line-height: 1.1;
	color: #181818;
	text-align: center;
	padding: 3% 0 2% 0;
}
.sec03-icon{
	display: flex;
	justify-content: center;
}
.xi-compass-o{
	font-size: 50px;
}
.sec03-img{
	width: 50%;
	height: 80%;
}
.sec03-jogamdo{
	width: 90%;
	height: 90%;
	background: url(../images/section04-jogamdo.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 90%;
}



/* 아코디언 메뉴 시작 */
.subheading{
	font-size:.9em;
	margin-top:0;
	text-transform:uppercase;
  }
  
  dl{
	margin:30px auto 60px;
	max-width: 60%;

  }
  
  dt{
	background:#505662;
	border-left:8px solid #141824;
	color:#B6BCCC;
	font-weight:600;
	padding:15px;
	position:relative;
	text-align:left;
	text-transform:uppercase;
	transition: all .5s;
  }
  
  dt:after,dt:before{
	content:"\f078";
	font-family:fontAwesome;
	position:absolute;
	right:15px;
	height:28px;
	top:0;
	bottom:0;
	margin:auto;
	
	transition:all .7s ease-in-out;
  }
  
  dt:before{
	opacity:0;
	transition:all .4s ease-in-out;
  }
  
  dt:hover{
	cursor:pointer;
  }
  
  dt + dd{
	max-height:0;
  }
  
  dd{
	background:#141824;
	color:#edeff3;
	margin:0;
	overflow:hidden;
	padding:1px 15px;
	
	transition: all .5s;
  }
  
  dt.open{
	background:#141824;
	border-color:#141824;
	color:#edeff3;
	margin:-5px;
  }
  
  dt.open:after{
	transform:rotate(180deg) translateY(-2px);
  }
  dt.open:before{
	opacity:1;
	transform:rotate(-360deg) translateY(-3px);
  }
  
  dt.open + dd{
	padding:15px 15px 30px;
	margin:0 -5px;
	max-height:200px;
  }

  /* 아코디언 메뉴 끝 */
/* section03 end */

/* section04 start */
#section04{
	width:100%; 

	background:#fff;
	position: relative;}

	.section04-warp{
		height: 900px;
		background-color: #141824;
	}
	
	.sec04-bigbox{
		position: relative;
		top: 5%;
	}
	
	/* 슬라이드 이미지 */
	
	.sec04-img1{
		width: 100%;
		height: 100%;
		background: url(../images/sec04-img1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0 auto;
		
	}
	.sec04-img2{
		width: 100%;
		height: 100%;
		background: url(../images/sec04-img2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0 auto;
		
	}
	.sec04-img3{
		width: 100%;
		height: 100%;
		background: url(../images/sec04-img3.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0 auto;
	}
	
	.sec04-img4{
		width: 100%;
		height: 100%;
		background: url(../images/sec04-img4.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0 auto;
	}
	
	.sec04-img5{
		width: 100%;
		height: 100%;
		background: url(../images/sec04-img5.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0 auto;
	}
	
	.sec04-img6{
		width: 100%;
		height: 100%;
		background: url(../images/sec04-img6.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0 auto;
	}
	
	.sec04-img7{
		width: 100%;
		height: 100%;
		background: url(../images/sec04-img7.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0 auto;
	}
	
	.sec04-img8{
		width: 100%;
		height: 100%;
		background: url(../images/sec04-img8.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0 auto;
	}
	.sec04-img9{
		width: 100%;
		height: 100%;
		background: url(../images/section02-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin: 0 auto;
	}
	/* 슬라이드 이미지 */
	
	/* 슬라이드 css */
	.swiper-container {
		width: 100%;
		height: 50%;
		top: -140px !important;
	  }
	
	  .swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
	
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	  }
	/* 슬라이드 css */
	
	/* section04 end */


/* section04 end */

/* section05 start */
	
#section05{
	width:100%; 
	position: relative;
}
.section05-warp{
	height: 950px;
	background-color: #e8eae3;
}
/* 주변볼거리 효과 */

  .cont {
	position: relative;
	left: 10%;
	/* 미디어쿼리 0으로 바꾸기 */
	overflow: hidden;
	width: 72%;
	height: 50vh;
	padding: 80px 70px;
  }
  .cont__inner {
	position: relative;
	height: 100%;
  }
  .cont__inner:hover .el__bg:after {
	opacity: 1;
  }
  
  .el {
	position: absolute;
	left: 0;
	top: 0;
	width: 19.2%;
	height: 100%;
	background: #252525;
	transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
	will-change: transform, width, opacity;
  }
  .el:not(.s--active) {
	cursor: pointer;
  }
  .el__overflow {
	overflow: hidden;
	position: relative;
	height: 100%;
  }
  .el__inner {
	overflow: hidden;
	position: relative;
	height: 100%;
	transition: transform 1s;
  }
  .cont.s--inactive .el__inner {
	transform: translate3d(0, 100%, 0);
  }
  .el__bg {
	position: relative;
	width: calc(100vw - 140px);
	height: 100%;
	transition: transform 0.6s 0.7s;
	will-change: transform;
  }
  .el__bg:before {
	content: "";
	position: absolute;
	left: 0;
	top: -5%;
	width: 100%;
	height: 110%;
	background-size: cover;
	background-position: center center;
	transition: transform 1s;
	transform: translate3d(0, 0, 0) scale(1);
  }
  .cont.s--inactive .el__bg:before {
	transform: translate3d(0, -100%, 0) scale(1.2);
  }
  .el.s--active .el__bg:before {
	transition: transform 0.8s;
  }
  .el__bg:after {
	content: "";
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: opacity 0.5s;
  }
  .cont.s--el-active .el__bg:after {
	transition: opacity 0.5s 1.4s;
	opacity: 1 !important;
  }
  .el__preview-cont {
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s 1.2s;
  }
  .cont.s--inactive .el__preview-cont {
	opacity: 0;
	transform: translateY(10px);
  }
  .cont.s--el-active .el__preview-cont {
	opacity: 0;
	transform: translateY(30px);
	transition: all 0.5s;
  }
  .el__heading {
	color: #fff;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
  }
  .el__content {
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 30px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.1s;
  }
  .el.s--active .el__content {
	z-index: 2;
	opacity: 1;
	pointer-events: auto;
	transition: all 0.5s 1.4s;
  }
  .el__text {
	text-transform: uppercase;
	font-size: 40px;
	color: #fff;
  }
  .el__close-btn {
	z-index: -1;
	position: absolute;
	right: 5%;
	top: 10px;
	width: 60px;
	height: 60px;
	opacity: 0;
	pointer-events: none;
	transition: all 0s 0.45s;
	cursor: pointer;
  }
  .el.s--active .el__close-btn {
	z-index: 5;
	opacity: 1;
	pointer-events: auto;
	transition: all 0s 1.4s;
  }
  .el__close-btn:before, .el__close-btn:after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 8px;
	margin-top: -4px;
	background: #fff;
	opacity: 0;
	transition: opacity 0s;
  }
  .el.s--active .el__close-btn:before, .el.s--active .el__close-btn:after {
	opacity: 1;
  }
  .el__close-btn:before {
	transform: rotate(45deg) translateX(100%);
  }
  .el.s--active .el__close-btn:before {
	transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
	transform: rotate(45deg) translateX(0);
  }
  .el__close-btn:after {
	transform: rotate(-45deg) translateX(100%);
  }
  .el.s--active .el__close-btn:after {
	transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
	transform: rotate(-45deg) translateX(0);
  }
  .el__index {
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: -80px;
	width: 100%;
	height: 100%;
	min-height: 250px;
	text-align: center;
	font-size: 20vw;
	line-height: 0.85;
	font-weight: bold;
	transition: transform 0.5s, opacity 0.3s 1.4s;
	transform: translate3d(0, 1vw, 0);
  }
  .el:hover .el__index {
	transform: translate3d(0, 0, 0);
  }
  .cont.s--el-active .el__index {
	transition: transform 0.5s, opacity 0.3s;
	opacity: 0;
  }
  .el__index-back, .el__index-front {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
  }
  .el__index-back {
	color: #2f3840;
	opacity: 0;
	transition: opacity 0.25s 0.25s;
  }
  .el:hover .el__index-back {
	transition: opacity 0.25s;
	opacity: 1;
  }
  .el__index-overlay {
	overflow: hidden;
	position: relative;
	transform: translate3d(0, 100%, 0);
	transition: transform 0.5s 0.1s;
	color: transparent;
  }
  .el__index-overlay:before {
	content: attr(data-index);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	transform: translate3d(0, -100%, 0);
	transition: transform 0.5s 0.1s;
  }
  .el:hover .el__index-overlay {
	transform: translate3d(0, 0, 0);
  }
  .el:hover .el__index-overlay:before {
	transform: translate3d(0, 0, 0);
  }
  .el:nth-child(1) {
	transform: translate3d(0%, 0, 0);
	transform-origin: 50% 50%;
  }
  .cont.s--el-active .el:nth-child(1):not(.s--active) {
	transform: scale(0.5) translate3d(0%, 0, 0);
	opacity: 0;
	transition: transform 0.95s, opacity 0.95s;
  }
  .el:nth-child(1) .el__inner {
	transition-delay: 0s;
  }
  .el:nth-child(1) .el__bg {
	transform: translate3d(0%, 0, 0);
  }
  .el:nth-child(1) .el__bg:before {
	transition-delay: 0s;
	background-image: url("../images/sec05-img1.jpg");
	background-position: center center;
  }
  .el:nth-child(2) {
	transform: translate3d(105.2083333333%, 0, 0);
	transform-origin: 155.2083333333% 50%;
  }
  .cont.s--el-active .el:nth-child(2):not(.s--active) {
	transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
	opacity: 0;
	transition: transform 0.95s, opacity 0.95s;
  }
  .el:nth-child(2) .el__inner {
	transition-delay: 0.1s;
  }
  .el:nth-child(2) .el__bg {
	transform: translate3d(-19.2%, 0, 0);
  }
  .el:nth-child(2) .el__bg:before {
	transition-delay: 0.1s;
	background-image: url("../images/sec05-img2.jpg");
  }
  .el:nth-child(3) {
	transform: translate3d(210.4166666667%, 0, 0);
	transform-origin: 260.4166666667% 50%;
  }
  .cont.s--el-active .el:nth-child(3):not(.s--active) {
	transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
	opacity: 0;
	transition: transform 0.95s, opacity 0.95s;
  }
  .el:nth-child(3) .el__inner {
	transition-delay: 0.2s;
  }
  .el:nth-child(3) .el__bg {
	transform: translate3d(-38.4%, 0, 0);
  }
  .el:nth-child(3) .el__bg:before {
	transition-delay: 0.2s;
	background-image: url("../images/sec05-img3.jpg");
  }
  .el:nth-child(4) {
	transform: translate3d(315.625%, 0, 0);
	transform-origin: 365.625% 50%;
  }
  .cont.s--el-active .el:nth-child(4):not(.s--active) {
	transform: scale(0.5) translate3d(315.625%, 0, 0);
	opacity: 0;
	transition: transform 0.95s, opacity 0.95s;
  }
  .el:nth-child(4) .el__inner {
	transition-delay: 0.3s;
  }
  .el:nth-child(4) .el__bg {
	transform: translate3d(-57.6%, 0, 0);
  }
  .el:nth-child(4) .el__bg:before {
	transition-delay: 0.3s;
	background-image: url("../images/sec05-img4.jpg");
  }
  .el:nth-child(5) {
	transform: translate3d(420.8333333333%, 0, 0);
	transform-origin: 470.8333333333% 50%;
  }
  .cont.s--el-active .el:nth-child(5):not(.s--active) {
	transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
	opacity: 0;
	transition: transform 0.95s, opacity 0.95s;
  }
  .el:nth-child(5) .el__inner {
	transition-delay: 0.4s;
  }
  .el:nth-child(5) .el__bg {
	transform: translate3d(-76.8%, 0, 0);
  }
  .el:nth-child(5) .el__bg:before {
	transition-delay: 0.4s;
	background-image: url("../images/sec05-img5.jpg");
	background-position: center;
  }
  .el:hover .el__bg:after {
	opacity: 0;
  }
  .el.s--active {
	z-index: 1;
	width: 100%;
	transform: translate3d(0, 0, 0);
	transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
  }
  .el.s--active .el__bg {
	transform: translate3d(0, 0, 0);
	transition: transform 0.6s;
  }
  .el.s--active .el__bg:before {
	transition-delay: 0.6s;
	transform: scale(1.1);
  }
  
  .icon-link {
	position: absolute;
	left: 5px;
	bottom: 5px;
	width: 32px;
  }
  .icon-link img {
	width: 100%;
	vertical-align: top;
  }
  .icon-link--twitter {
	left: auto;
	right: 5px;
  }
  /* 주변볼거리 효과 */
/* section05 end */
.sec05-text h1{
	padding: 0 0 2% 0;
}
.sec05-line{
	width: 80%;
    height: 3px;
    background: #181818;
    margin: 0 auto;
	
}
.sec05-p{
	padding: 2% 0;
	text-align: center;
}
.el-p{
	font-size: 20px;
	color: #fff;
}


/* section05 end */

/* section06 start */
#section06{
	width: 100%;
	position: relative;
}
.section06-warp{
	width: 100%;
	height: 800px;
	background-color: #e8eae3;
}
.color-box{
	background-color: #141824;
}
.sec06-bigbox{
    width: 80%;
    height: 200px;
	margin: 0 auto;
	position: relative;
	top: 30px;

}
.sec06-bigbox h1 {
	font-weight: 400;
	font-size: 2.25rem;
	line-height: 1.1;
	color: #fff;
	text-align: center;
	padding: 2% 0;
}
.column{
	display: flex;
}
.map01{
	width: 70%;
	width: 80%;
	margin-top: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.map02{
	width: 30%;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mapbox{
	width: 90%;

}
#map{
	overflow: hidden;
	position: relative;
	left: 0;
	top: 0;
	width: 100% !important;
	height: 500px !important;
}
.sec06-tabs{
	width: 50%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* 버스 아이콘 및 버튼 색깔 ↓ */
.bus-green{
	color: #1bc866;
}
.bus-green-btn{
	background: #1bc866;
}
.bus-blue{
	color: #1f85ea;
}
.bus-blue-btn{
	background: #1f85ea;
}

/* 버스 아이콘 및 버튼 색깔 ↑ */

/* 지하철 아이콘 및 버튼 색깔↓ */
.nd2-subway{
	color: #3B9F37;
}
.nd2-subway-btn{
	background: #3B9F37;
}
.nd7-subway{
	color: #5B692E;
}
.nd7-subway-btn{
	background: #5B692E;
}
.nd9-subway{
	color: #B39627;
}
.nd9-subway-btn{
	background: #B39627;
}
.sub-btn{
	color: #fff;
	border-radius: 50px;
}
/* 지하철 아이콘 및 버튼 색깔↑ */

/* 탭바설정 */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.tab {
  padding-top: 50px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #888;
  -webkit-font-smoothing: antialiased;
}

.tabs {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
}
.tabs li {
  float: left;
  line-height: 38px;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.tabs a {
  background-color: #e8eae3;
  border-bottom: 1px solid #fff;
  color: #888;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 142px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #141824;
}

.tabs_item {
  display: none;
  padding: 80px 0;
  background: #e8eae3;
}
.tabs_item h4 {
  font-weight: bold;
  color: #141824;
  font-size: 20px;
}
.tabs_item img {
  width: 200px;
  float: left;
  margin-right: 30px;
}
.tabs_item:first-child {
  display: block;
}

.current a {
	color: #e8eae3;
    background: #141824;
}

/* // END TAB ~~~~~~~~~~~~~~~ (.)(.) */

/* section06 end */


/* footer start */
footer{
	width: 100%;
	position: relative;
}
.footer{
	width: 100%;
	height: 200px;
	background: #35373D;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-info{
	width: 80%;
	height: 60%;
	color: #aaa;
	margin: 0 auto;
}
.footer-info h1{
	font-size: 30px;
	padding-bottom: 20px;
}
.footer-info p{
	line-height: 1.5em;
}

/* footer end */


/* navi css */

	.fixed{
		background:rgba(0,0,0,0.5); 
		transition:all 0.5s ease-in-out; 
		-webkit-transition:all 0.5s ease-in-out;}
	
		/* .logo a{
			font-size:46px; 
			padding:15px 0 0 35px; 
			float:left; color:#FFF; 
			font-family: 'NotoSerifKR'; 
			text-decoration:none;}
			
		.menu_box > ul{
			float:right; 
			padding:0 35px 0 0;}
			
			.menu_box li{
				float:left; 
				text-align:center; 
				width:100px; }
				
				.menu_box li a{
					text-decoration:none; 
					color:#FFF; 
					line-height:100px;
					font-family: 'NotoSerifKR'; 
					font-size:14px;}
					 */
					/**메뉴부분 마우스 오버시 색상 **/
					.navbar__menu_box li a:hover{
						padding-top:40px; color:rgb(125, 19, 139);}
						
					.navbar__menu_box li:nth-child(2) a:hover{
						padding-top:40px; color:#9F0;}
						
					.navbar__menu_box li:nth-child(3) a:hover{
						padding-top:40px; color:#6FF;}
						
					.navbar__menu_box li:nth-child(4) a:hover{
						 padding-top:40px; color:#F33;}
						
					.navbar__menu_box li:nth-child(5) a:hover{
						 padding-top:40px; color:#FC0;}

					.navbar__menu_box li:nth-child(6) a:hover{
						 padding-top:40px; color:blue;}

												/* @media(max-width: 767px){
													.menu_box{
														height: 50px;
														background: rgba(20,20,20,0.95);
													}
													.menu_box>ul>a{
														display: block;
														text-align: right;
														line-height: 50px;
													}
													.menu_box li{
														display: none;
														float: none;
														margin: 0 auto;
														text-align: center;
														color: #fff;
														
														padding-left: 50px;
													}
													.logo a{
														padding: 0 0 0 20px;
													}
													.menu_box ul{
														z-index: -1;
														position: absolute;
														padding: 0 20px 0 0;
														width: 100%;
														right: 1px;
														background: rgba(20,20,20,0.95);
													}
													
												} */
						/* navi css */
/* navi css */
