
@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
            
            
h1,h2{
	font-family: 'NotoSerifKR';
}
h2{
	font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
p{
	font-family: 'NotoSerifKR';
}
html,body{
	width: 100%;
	height: 100%;
}
strong{
	font-weight: bold;
	font-size: 150%;
}

button{
	border-style: none;
}

.normal-p{
	font-size: 1rem;
    line-height: 1.6;
}



/* section01 start */
section01{
	width: 100%;
	position: relative;
}

.section01-warp{
	height: 800px;
	background: url(../images/section01-main.jpg);
	background-repeat: no-repeat;
	background-position: center;
	/* 배경 이미지 삽입 */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* 컨텐츠를 가운데로 보내기 위한 설정 */
}

.section01-text{
	/* 컨텐츠 박스 */
	width: 40%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sec01-h1{
	/* 봉은사h1박스 */
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section01-text h1{
	/*sec01 h1 글자 설정 */
	font-weight: 400;
    font-size: 4.5rem;
	line-height: 1.1;
	color: #fff;
}
.sec01-p{
	/* 봉은사 p박스 */
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section01-text p{
	/* sec01 p 글자 설정 */
	font-weight: 400;
    font-size: 1.25rem;
	line-height: 1.2;
	color: #fff;
}

.mouse{
	width: 100px;
	height: 100px;
	position: relative;
	top: 150px;
}

.mouse p{
	position: absolute;
	top: 60px;
	left: 25px;
}

/* 스크롤다운 CSS ↓ */
a {
	padding-top: 60px;
  }
  a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid #fff;
	border-radius: 50px;
	box-sizing: border-box;
  }
  a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sdb 2s infinite;
	animation: sdb 2s infinite;
	box-sizing: border-box;
  }
  @-webkit-keyframes sdb {
	0% {
	  -webkit-transform: translate(0, 0);
	  opacity: 0;
	}
	40% {
	  opacity: 1;
	}
	80% {
	  -webkit-transform: translate(0, 20px);
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }
  @keyframes sdb {
	0% {
	  transform: translate(0, 0);
	  opacity: 0;
	}
	40% {
	  opacity: 1;
	}
	80% {
	  transform: translate(0, 20px);
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }

  /* 스크롤다운 CSS ↑ */

/* section01 end */


/* section02 start */
section02{
	width: 100%;
	position: relative;
}

	.section02-warp{
		height: 710px;
		background-color: #141824;
		display: flex;
		
	}
		.section02-text{
			width: 100%;
			height: 80%;
			display: flex;
			margin: 5% 0 0 0;
			flex-direction: column;
		}
			.bigbox{
				width: 80%;
				height: 60%;
				margin: 0 auto;
			}
			.line{
				width: 80%;
				height: 3px;
				background: #fff;
				margin: 0 auto;
			}
			.bigbox h1 {
				font-weight: 400;
				font-size: 2.25rem;
				line-height: 1.1;
				color: #fff;
				text-align: center;
				padding: 3% 0 2% 0;
			}
			.sec02-p,.sec02-sbox h2{
				text-align: center;
				color: #fff;
			}
			.sec02-p-01{
				margin-bottom: 1%;
			}
			.sec02-p-02{
				margin-bottom: 3%;
			}

			.boxs{
				width: 80%;
				height: 40%;
				margin: 0 auto;
				display: flex;
				flex-direction: row;
			}
				.box01 ,.box02 , .box03{
					width: 33%;
					height: 80%;
					margin: 0 0.5% 0 0.5% ;
				}
				.box02{
					border-left: 1px solid #fff;
					border-right: 1px solid #fff;
				}


/* section02 end */


/* section03 start */
section03{
	width: 100%;
	position: relative;
}
.section03-warp{
	width: 100%;
	height: 800px;
	background-color: #e8eae3;
	display: flex;
	align-items: center;
}
.sec03-text{
	width: 50%;
	height: 90%;
}

.sec03-text-content h1{
	font-weight: 400;
	font-size: 2.25rem;
	line-height: 1.1;
	color: #181818;
	text-align: center;
	padding: 3% 0 2% 0;
}
.sec03-icon{
	display: flex;
	justify-content: center;
}
.xi-compass-o{
	font-size: 50px;
}
.sec03-img{
	width: 50%;
	height: 80%;
}
.sec03-jogamdo{
	width: 90%;
	height: 90%;
	background: url(../images/section04-jogamdo.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 90%;
}



/* 아코디언 메뉴 시작 */
.subheading{
	font-size:.9em;
	margin-top:0;
	text-transform:uppercase;
  }
  
  dl{
	margin:30px auto 60px;
	max-width: 60%;

  }
  
  dt{
	background:#505662;
	border-left:8px solid #141824;
	color:#B6BCCC;
	font-weight:600;
	padding:15px;
	position:relative;
	text-align:left;
	text-transform:uppercase;
	transition: all .5s;
  }
  
  dt:after,dt:before{
	content:"\f078";
	font-family:fontAwesome;
	position:absolute;
	right:15px;
	height:28px;
	top:0;
	bottom:0;
	margin:auto;
	
	transition:all .7s ease-in-out;
  }
  
  dt:before{
	opacity:0;
	transition:all .4s ease-in-out;
  }
  
  dt:hover{
	cursor:pointer;
  }
  
  dt + dd{
	max-height:0;
  }
  
  dd{
	background:#141824;
	color:#edeff3;
	margin:0;
	overflow:hidden;
	padding:1px 15px;
	
	transition: all .5s;
  }
  
  dt.open{
	background:#141824;
	border-color:#141824;
	color:#edeff3;
	margin:-5px;
  }
  
  dt.open:after{
	transform:rotate(180deg) translateY(-2px);
  }
  dt.open:before{
	opacity:1;
	transform:rotate(-360deg) translateY(-3px);
  }
  
  dt.open + dd{
	padding:15px 15px 30px;
	margin:0 -5px;
	max-height:200px;
  }

  /* 아코디언 메뉴 끝 */
/* section03 end */


/* section04 start */
section04{
	width: 100%;
	position: relative;
}
.section04-warp{
	height: 710px;
	background-color: #141824;
}

/* section04 end */


/* section05 start */
section05{
	width: 100%;
	position: relative;
}
.section05-warp{
	height: 660px;
	background-color: #e8eae3;
}

/* section05 end */

/* section06 start */
section06{
	width: 100%;
	position: relative;
}
.section06-warp{
	height: 660px;
	background-color: #141824;
}

/* section06 end */